.header-position {
  position: sticky;
  top: 0;
  z-index: 1;
}
.container-main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.left-aside-position {
  height: 100%;
  max-height: 100vh;
  position: sticky;
  top: 60.6px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}
.right-aside {
  height: 100%;
  max-height: 100vh;
  position: sticky;
  top: 60.6px;
  right: 0;
}
